<div class="row">
</div>
<div class="container">
  <div class="container container-fluid">
    <div class="row">
  
      <div class="col-sm-8 col-md-8"></div>
  
      <div class="col-sm-4 col-md-4">
        <% unless user_signed_in? %>
          <%= render "devise/registrations/form" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render "boards/partial_boards" %>
  </div>
</div>

<div class="col-xs-6 col-sm-6 col-md-3">
  <% unless user_signed_in? %>
    <%= link_to "Sign Up Now", new_user_registration_path %>
  <% end %>
</div>
