.navbar {
  margin-top: 0;
  margin-bottom: 0;
}

.cover {
  //color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 250px;
}

.coverDescr {
  background-color: #E5E4E2;
  //color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 100px;
}

.coverDescr img {
  border-radius: 100px;
  top: -40px;
  border: 5px solid #E5E4E2;
  position: relative;
}

.lessons {
  margin-top: 50px;
  background-color: #E5E4E2;
}

.lessons input {
  background-color: #E5E4E2;
  border: 0px;
}

.lessons textarea {
  background-color: #E5E4E2;
  border: 0px;
}